* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(imges/volcanic-moon-3840x2160-19153.jpg);
}

.wrapper {
    padding: 30px;
    border-radius: 10px;
    width: 420px;
    background: transparent;
    backdrop-filter: blur(16px);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    position: relative;
}

.wrapper h1 {
    font-size: 9vh;
    text-align: center;
}

input [type = "text"]{
   text-emphasis-color: white;
}

.input-box {
    color: #fff;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
        /* text-transform: capitalize; */
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}


.wrapper .rem-fog {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.rem-fog label input {
    accent-color: #fff;
    margin-right: 3px;
}

.rem-fog a {
    text-decoration: none;
    color: #fff;
}

.rem-fog a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.wrapper .register {
    font-size: 2vh;
    text-align: center;
    margin-top: 20px;

}

.register a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}

.register p:hover {
    text-decoration: underline;
}